<div class="background">
    <div class="container" >


        <div class="row">
            
            <div class="card mb-4"   style="width: 18rem; height: 18rem;">
                <!-- <img src="../../../assets/Cards/Main-menu/lemons.jpg" class="card-img-top" > -->
                <div class="card-body ">
                  <h5 class="card-title text-center mt-5 mb-4">Meals</h5>
                  <p class="card-text">Define your personal food  library and use them to compose your favourite meals...</p>
                  <a href="/meals" class="stretched-link"></a>
                </div>
            </div>

            <div class="card "   style="width: 18rem; height: 18rem;">
                <!-- <img src="../../../assets/Cards/Main-menu/lemons.jpg" class="card-img-top" > -->
                <div class="card-body ">
                  <h5 class="card-title text-center mt-5 mb-4">Scheduler</h5>
                  <p class="card-text">Schedule your meals to make your shopping more enjoyable...</p>
                  <a href="/scheduler" class="stretched-link"></a>
                </div>
            </div>
            <div class="card "   style="width: 18rem; height: 18rem;">
                <!-- <img src="../../../assets/Cards/Main-menu/lemons.jpg" class="card-img-top" > -->
                <div class="card-body ">
                  <h5 class="card-title text-center mt-5 mb-4">Make List</h5>
                  <p class="card-text">Lets create a shopping list from your scheduler or by choosing products individually...</p>
                  <a href="makelist" class="stretched-link"></a>
                </div>
            </div>
            <div class="card "   style="width: 18rem; height: 18rem;">
                <!-- <img src="../../../assets/Cards/Main-menu/lemons.jpg" class="card-img-top" > -->
                <div class="card-body ">
                  <h5 class="card-title text-center mt-5 mb-4">View Lists</h5>
                  <p class="card-text">Explore and share your shopping lists...</p>
                  <a href="#" class="stretched-link"></a>
                </div>
            </div>





        </div>
        

    </div>
    
</div>


