<div class="background">
    <div class="container" >
            
 
            <div class="row">
                <div class="col-4">
                    <div class="card">
                        <img src="{{ recipe?.photoUrl || '../../../../../assets/user.png'}}" alt="{{recipe?.recipeId}}"
                        class="cards-img-top img-thumbnail">
                        <div class="card-body">
                            <!-- <div>
                                <strong>Location:</strong>
                                <p>{{member.city}}, {{member.country}}</p>
                            </div>
                            <div>
                                <strong>Age:</strong>
                                <p>{{member.age}}</p>
                            </div>
                            <div>
                                <strong>Member since:</strong>
                                <p>{{member.created | date: 'dd.MMM.yyyy'}}</p>
                            </div>
                            <div>
                                <strong>Last Active:</strong>
                                <p>{{member.lastActive | timeago}}</p>
                            </div> -->
                        </div>
                        <div class="card-footer">
                                <button [disabled]="!editForm.dirty" type="submit" form = "editForm" class="btn btn-success btn-block">{{isEdit ? 'Save changes' : 'Add Recipe'}}</button>
                        </div>
                    </div>
                </div>
                <div class="col-8" >
                    <tabset class="member-tabset">
                        <tab heading='About'>
                            <form #editForm="ngForm" id="editForm" (ngSubmit)="updateRecipe()">
                                
                                <h4>Recipe name:</h4>
                                    <textarea class="form-control" [(ngModel)]="recipe.recipeName" name="recipeName" rows="1"></textarea>
                                <h4 class ="mt-2">Description</h4>
                                    <textarea class="form-control" [(ngModel)]="recipe.recipeDescription" name="recipeDescription" rows="6"></textarea>
                                <h4 class ="mt-2">Ingridients</h4>
                                    <div class="add-product">
                                        <button (click)="openAddProductModal()" type="button" class="btn-hover color-2">Add Product</button>
                                    </div>

                                    <table class="table table-hover" style="cursor: default">
                                        <thead>
                                            <tr>
                                                
                                                <th style="width: 30%">Product name</th>
                                                <th style="width: 20%">Unit</th>
                                                <th style="width: 20%">Quantity</th>
                                                <th style="width: 5%"></th>
                                                <th style="width: 5%"></th>
                                                
                                            </tr>
                                        </thead>
                                        <tr *ngFor="let recipeProduct of recipe.recipeProducts; let i = index;" >
                                            
                                            <td>{{recipeProduct.productName}}</td>
                                            <td>{{recipeProduct.unitName}}</td>
                                            <td>
                                                <input class="form-control" [(ngModel)]="recipeProduct.quantity" type ="number" name="{{recipeProduct.quantity + ' ' +i}}">
                                            </td>
                                            
                                            <td><button (click)="deleteProduct(recipeProduct.recipeProductId)" class="btn-hover btn-danger">Delete</button></td>
                                            
                                
                                        </tr>
                                
                                    </table>
                            </form>
                        </tab>
                        <tab heading='Edit Photos'>
                            <app-photo-editor [recipe]="recipe"></app-photo-editor>
                        </tab>
                    
                    
                    </tabset>
                </div>

            </div>
    
        

    </div>

</div>