<div class="background">
    <div class="container" >


        <div class="row">
            <div class="col-2"></div>
            <div class="card col-3 "    style="height: 18rem;">
                <!-- <img src="../../../assets/Cards/Main-menu/lemons.jpg" class="card-img-top" > -->
                <div class="card-body">
                  <h5 class="card-title text-center mt-5 mb-4">Products</h5>
                  <p class="card-text">Define products that will make ingridients of your meals...</p>
                  <a href="/products" class="stretched-link"></a>
                </div>
            </div>
            
            <div class="col-1"></div>
            
            <div class="card col-3"   style="height: 18rem;">
                <!-- <img src="../../../assets/Cards/Main-menu/lemons.jpg" class="card-img-top" > -->
                <div class="card-body ">
                  <h5 class="card-title text-center mt-5 mb-4">Recipies</h5>
                  <p class="card-text">Define meals using available products. Create custum descriptions and ingridients list of each meal...</p>
                  <a href="#" class="stretched-link"></a>
                </div>
            </div>
            <div class="col-2"></div>

        </div>
        

    </div>
    
</div>


