<div class="modal-header">
    <h4 class="modal-title pull-left">Edit product: {{product.productName}}</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>

</div>

<div class="modal-body">
   <form #productForm="ngForm" id="productForm" >
        <p>Product name:</p>
        <textarea name="productName" [(ngModel)]="productName" rows="1" class="form-control"></textarea>


   </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="updateProduct(true)">Cancel</button>
    <button type="button" class="btn btn-success" (click)="updateProduct(false)">Submit</button>
  </div>