<div class="background">
    <div class="container" >
        <carousel [(activeSlide)]="activeSlideIndex" >
            <slide>
              <div class="day" >
                    <h2>{{dateHeader}}</h2>
              </div>  
              
            </slide>
            <slide>
                <div class="day" >
                    <h2>{{dateHeader}}</h2>
                </div>  
            </slide>
            <slide>
                <div class="day" >
                    <h2>{{dateHeader}}</h2>
                </div>  
            </slide>
     
        </carousel>
    </div>
</div>