<div class="background">
    <div class="container" >
        <carousel >
            <slide>
              <div class="day" >
                    <h2>TEST1</h2>
              </div>  
              
            </slide>
            <slide>
                <div class="day" >
                    <h2>TEST2</h2>
                </div>  
            </slide>
            <slide>
                <div class="day">
                    <h2>TEST3</h2>
                </div>  
            </slide>
          </carousel>
        
    </div>
</div>